@model GodsUnchainedCardsComparer.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="row mb-10" style="background-color:hsla(100, 100%, 50%, 0.3);">
        <h2>LOWER ETH PRICE</h2>
        @foreach (var card in Model.CardsLowerETH)
        {
            <div class="col-md-2">
                <h2>@card.name</h2>
                <p><img src="@card.imageUrl" class="img-fluid" alt="@card.name"></p>
                <p>
                    <br />
                    ETH price last sold: @(card.ETHprice?.ToString("0.##################"))
                    <br />
                    ETH price average: @(card.ETHpriceAverage24?.ToString("0.##################"))
                    <br />
                    GODS price last sold: @card.GODSprice
                    <br />
                    GODS price average: @card.GODSpriceAverage24
                    <br />
                    Number of ETH sales last 24h: @card.numberOfETHsales
                    <br />
                    Number of GODS sales last 24h: @card.numberOfGODSsales
                    <br />
                    <br />
                    ETH USD: @card.ETHpriceUSD
                    <br />
                    GODS USD: @card.GODSpriceUSD
                    <br />
                    <br />
                    Difference in price: @card.diffrenceInPrice %
                </p>
            </div>
        }
    </div>
    <hr />
    <div class="row" style="background-color:hsla(12, 100%, 50%, 0.3);">
        <h2>LOWER GODS PRICE</h2>
        @foreach (var card in Model.CardsLowerGods)
        {
            <div class="col-md-2">
                <h2>@card.name</h2>
                <p><img src="@card.imageUrl" class="img-fluid" alt="@card.name"></p>
                <p>
                    <br />
                    ETH price last sold: @(card.ETHprice?.ToString("0.##################"))
                    <br />
                    ETH price average: @(card.ETHpriceAverage24?.ToString("0.##################"))
                    <br />
                    GODS price last sold: @card.GODSprice
                    <br />
                    GODS price average: @card.GODSpriceAverage24
                    <br />
                    Number of ETH sales last 24h: @card.numberOfETHsales
                    <br />
                    Number of GODS sales last 24h: @card.numberOfGODSsales
                    <br />
                    <br />
                    ETH USD: @card.ETHpriceUSD
                    <br />
                    GODS USD: @card.GODSpriceUSD
                    <br />
                    <br />
                    Difference in price: @card.diffrenceInPrice %
                </p>
            </div>
        }
    </div>
</section>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@